.height100 {
  height: 100%;
}
.abs-fill {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.cursor-pointer {
  cursor: pointer;
}
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.clear-fix::after{
  display: block;
  content: '';
  clear: both;
}
//禁止选中文本
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/
  }
